

.logo-large
{
	background-color: #333;
	padding: .5em 1em;
	border: 2px solid #222;
}



.contain-to-grid
{
	border-bottom: 2px solid #222;
}



.button
{
	display: block;
	background: #ed6200; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ed6200 0%, #d64e00 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ed6200), color-stop(100%,#d64e00)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ed6200 0%,#d64e00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ed6200 0%,#d64e00 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ed6200 0%,#d64e00 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ed6200 0%,#d64e00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed6200', endColorstr='#d64e00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	font-weight: 300;
	font-family: $header;
	font-size: 2em;
	padding: .25em 0;

	transition: opacity 0.25s ease;
	opacity: 1;
}

.button:hover
{
	transition: opacity 0.25s ease;
	opacity: .8;
}

.header-button
{
	-webkit-transition: background-color 250ms, color 250ms;
    -moz-transition: background-color 250ms, color 250ms;
    -o-transition: background-color 250ms, color 250ms;
    transition: background-color 250ms, color 250ms;
	display: block;
	background-color: $orange;
	color: $white;
	padding: .75em 0;
	border-radius: .3em;
	border: 2px solid $white;
	margin-bottom: 2em;
}

.header-button:hover
{
	-webkit-transition: background-color 250ms, color 250ms;
    -moz-transition: background-color 250ms, color 250ms;
    -o-transition: background-color 250ms, color 250ms;
    transition: background-color 250ms, color 250ms;
	background-color: $white;
	color: $orange + 20;
	border: 2px solid $orange + 20;
}

.home-page, .specials-page, .category-page, .item-detail-page, .remembered-page
{
	-webkit-transition: background-image 250ms ease-out 250ms;
    -moz-transition: background-image 250ms ease-out 250ms;
    -o-transition: background-image 250ms ease-out 250ms;
    transition: background-image 250ms ease-out 250ms;
    background-size: 227px, 318px;
	width: 227px;
	height: 318px;
}

.home-page
{
	background-image:url(../img/home-page.png); 
}

.specials-page
{
	background-image:url(../img/specials-page.png); 
}

.category-page
{
	background-image:url(../img/category-page.png); 
}

.item-detail-page
{
	background-image:url(../img/item-detail.png);
}

.remembered-page
{
	background-image:url(../img/remembered-items.png); 
}

.screenshot:hover
{
	-webkit-transition: background-image 250ms ease-out 250ms;
    -moz-transition: background-image 250ms ease-out 250ms;
    -o-transition: background-image 250ms ease-out 250ms;
    transition: background-image 250ms ease-out 250ms;
	background-image:url(../img/enlarge-screenshot.jpg); 
	background-size: 227px, 318px;
	border: 1px solid #ccc;
	background-color: #eee;
}

.main-content-area
{

	color: #333;

	img
	{
		width: 100%;
		margin-bottom: 0em;
	}


	.home-page-image
	{
-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.36);
-moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.36);
box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.36);
	}

	.home-page-selling-points 
	{
		h2
		{
			font-size: 3em;
			margin-bottom: .15em;
		}

		ul
		{
			margin: 0;
			padding: 0 0 1.25em 0;
		}
		
		ul li
		{
			list-style-type: none;
			padding: 0 0 1.5em 0;
			font-size: 1.15em;
			font-weight: 300;
		}
	}

	.home-page-main-header
	{
		display: block;
		color: $white;
		font-size: 2.5em;
		padding: 0;
	}

	.main-header
	{
		background: #ed6200; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #ed6200 0%, #d64e00 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ed6200), color-stop(100%,#d64e00)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #ed6200 0%,#d64e00 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #ed6200 0%,#d64e00 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #ed6200 0%,#d64e00 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #ed6200 0%,#d64e00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed6200', endColorstr='#d64e00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		border-bottom: 2px solid #666;

		
	}

	.main-header-background
	{
		background: url(../img/home-page-background.png) no-repeat center center;
  background-size: contain;
  height: 461px;
}

	.content-area
	{
		padding: 1em 0;
		border-bottom: 2px solid #eee;

		p
		{
			font-weight: 300;
			font-size: 1.15em;
		}

		.tablet
		{
			position: absolute;
			top: 110px;
			left: 95px;
			border: none;
		}

		.tablet-frame
		{
			min-height: 1233px;
			min-width: 951px;
			max-height: 1233px;
			max-width: 951px;
			box-shadow: 0px 20px 20px 0;
			border-radius: .8em;
		}
	}

	.secondary-header
	{
		background: #323232; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #323232 0%, #222222 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#323232), color-stop(100%,#222222)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #323232 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #323232 0%,#222222 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #323232 0%,#222222 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #323232 0%,#222222 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#222222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		color: #fff;

		padding: 1em;

		h2
		{
			font-size: 1.5em;
			color: $white;
			line-height: 1.3em;
		}
		
	}

	h1
	{
		font-family: $header;
		font-weight: bold;
		color: #333;
		color: #fff;
		font-size: 3em;
		font-variant: small-caps;
		line-height: 1em;
		color: $orange;
	}

	h2
	{
		font-family: $header;
		font-weight: 900;
		font-size: 1.75em;
		color: $orange;
		/*
		font-variant: small-caps;
		*/
		line-height: 1.1em;
	}

	h5
	{
		font-family: $header;
		/*
		font-variant: small-caps;
		*/
		font-weight: bold;
		font-size: 1.75em;
		color: #fff;
		font-weight: 300;
	}

	.callout
	{
		h3
		{
			font-weight: 300;
			font-family: $header;
			color: $orange;
			font-size: 1.75em;
		}
	}
}

.black
{
	background: #323232; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #323232 0%, #222222 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#323232), color-stop(100%,#222222)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #323232 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #323232 0%,#222222 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #323232 0%,#222222 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #323232 0%,#222222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#222222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

footer
{
	padding: 3em 0 2em 0;
	background-color: #222;
	border-top: 2px solid #eee;

	ul
	{
		list-style-type: none;
		color: #fff;
	}

	a
	{
		color: $orange;
		font-size: 1em;
		font-variant: small-caps;
		font-weight: 300;
	}

	a:hover
	{
		color: $green;
	}
}


/* MEDIUM STYLES */
@media only screen and (min-width: 40.063em) {  /* min-width 641px, medium screens */

.logo
{

}

.header-button
{
	margin-bottom: 2.75em;
}

.home-page, .specials-page, .category-page, .item-detail-page, .remembered-page
{
	-webkit-transition: background-image 250ms ease-out 250ms;
    -moz-transition: background-image 250ms ease-out 250ms;
    -o-transition: background-image 250ms ease-out 250ms;
    transition: background-image 250ms ease-out 250ms;
    background-size: 227px, 318px;
	width: 227px;
	height: 318px;
}

.home-page
{
	background-image:url(../img/home-page.png); 
}

.specials-page
{
	background-image:url(../img/specials-page.png); 
}

.category-page
{
	background-image:url(../img/category-page.png); 
}

.item-detail-page
{
	background-image:url(../img/item-detail.png); 
}

.remembered-page
{
	background-image:url(../img/remembered-items.png); 
}

.screenshot:hover
{
	-webkit-transition: background-image 250ms ease-out 250ms;
    -moz-transition: background-image 250ms ease-out 250ms;
    -o-transition: background-image 250ms ease-out 250ms;
    transition: background-image 250ms ease-out 250ms;
	background-image:url(../img/enlarge-screenshot.jpg); 
	background-size: 227px, 318px;
	border: 1px solid #ccc;
	background-color: #eee;
}

.main-content-area
{

	.home-page-main-header
	{
		font-size: 3em;
		line-height: 1.3em;
	}

	.home-page-selling-points 
	{
		ul
		{
			margin: 0;
		}

		ul li
		{
			font-size: 1.25em;
		}
	}

	.content-area
	{
		padding: 3em 0;

		p
		{
			font-size: 1.35em;
		}
	}

	.secondary-header
	{
		padding: 1em;

		h2
		{
			font-size: 2.5em;
		}
	}

	h1
	{
		font-size: 3em;
		line-height: 1em;
	}

	h2
	{
		font-size: 3em;
		line-height: 1.2em;
	}

	h5
	{
		font-size: 1.75em;
	}
	.black
	{
		padding: 0;
	}
}
}
/* END Medium Styes */


/* Large Screen Styles */
@media only screen and (min-width: 64.063em) {

.header-button
{
	margin-bottom: 3.5em;
	padding: 1em;
	font-size: 1.25em;
}

.home-page, .specials-page, .category-page, .item-detail-page, .remembered-page
{
	-webkit-transition: background-image 250ms ease-out 250ms;
    -moz-transition: background-image 250ms ease-out 250ms;
    -o-transition: background-image 250ms ease-out 250ms;
    transition: background-image 250ms ease-out 250ms;
    background-size: 303px, 426px;
	width: 303px;
	height: 425px;
}

.home-page
{
	background-image:url(../img/home-page.png); 
}

.specials-page
{
	background-image:url(../img/specials-page.png); 
}

.category-page
{
	background-image:url(../img/category-page.png); 
}

.item-detail-page
{
	background-image:url(../img/item-detail.png); 
}

.remembered-page
{
	background-image:url(../img/remembered-items.png); 
}

.screenshot:hover
{
	-webkit-transition: background-image 250ms ease-out 250ms;
    -moz-transition: background-image 250ms ease-out 250ms;
    -o-transition: background-image 250ms ease-out 250ms;
    transition: background-image 250ms ease-out 250ms;
	background-image:url(../img/enlarge-screenshot.jpg); 
	background-size: 303px, 426px;
	border: 1px solid #ccc;
	background-color: #eee;
}

.main-content-area
{
	.home-page-selling-points 
	{
		ul
		{
			margin: 0;
		}

		ul li
		{
			font-size: 1.5em;
		}
	}

	.home-page-main-header
	{
		font-size: 6.5em;
		line-height: .9em;
	}



	.content-area
	{
		padding: 4em 0;

		p
		{
			font-size: 1.75em;
			line-height: 1.5em;
		}
	}

	.secondary-header
	{
		padding: 2em;

		h2
		{
			font-size: 3em;
		}
		
	}

	.content-area:nth-of-type(odd)
	{ 
	}
	 

	h1
	{
		font-size: 5.25em;
		line-height: 1.3em;
	}

	h2
	{
		font-size: 3em;
		line-height: 1.3em;
	}

	h5
	{
		font-size: 1.75em;
	}

	.black
	{
		padding: 0;
	}
}
} /* min-width 1025px, large screens */

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	.main-content-area
	{
		.home-page-main-header, h1
		{
			font-variant: normal;
			line-height: 1.3em;
		}
	}

	footer
	{
		a
		{
			font-variant: normal;
		}
	}
}