.main-content-area
{
	background: #879300; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #879300 0%, #6b6300 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#879300), color-stop(100%,#6b6300)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #879300 0%,#6b6300 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #879300 0%,#6b6300 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #879300 0%,#6b6300 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #879300 0%,#6b6300 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#879300', endColorstr='#6b6300',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #fff;

	.home-page-selling-points 
	{
		ul
		{
			margin: 0;
		}
		
		ul li
		{
			list-style-type: none;
		}
	}

	.home-page-main-header
	{
		display: block;
		color: $orange;
		text-shadow: 1px 1px 0px #eee, -1px -1px 0px #eee, 1px -1px 0px #eee, -1px 1px 0px #eee;
		font-size: 8.5em;
		padding: 0
	}

	.main-header
	{
	  background: url(../img/background-image.png) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  border-bottom: 2px solid #444;
	}

	.content-area
	{
		background: #879300; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #879300 0%, #6b6300 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#879300), color-stop(100%,#6b6300)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #879300 0%,#6b6300 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #879300 0%,#6b6300 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #879300 0%,#6b6300 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #879300 0%,#6b6300 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#879300', endColorstr='#6b6300',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		padding: 4em 0;
		border-bottom: 2px solid #444;
	}

	.content-area:nth-of-type(odd)
	{ 
		background: #ed6200; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #ed6200 0%, #d64e00 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ed6200), color-stop(100%,#d64e00)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #ed6200 0%,#d64e00 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #ed6200 0%,#d64e00 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #ed6200 0%,#d64e00 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #ed6200 0%,#d64e00 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed6200', endColorstr='#d64e00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	 
	.content-area:nth-of-type(1)
	{
		background: #323232; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #323232 0%, #222222 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#323232), color-stop(100%,#222222)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #323232 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #323232 0%,#222222 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #323232 0%,#222222 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #323232 0%,#222222 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#222222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		color: #fff;
		padding: 1em 0;
	}

	h1
	{
		font-family: $header;
		font-weight: bold;
		color: #333;
		color: #fff;
		font-size: 5.25em;
		font-variant: small-caps;
		line-height: 1em;
		color: $orange;
	}

	h2
	{
		font-family: $header;
		font-weight: 900;
		font-size: 3em;
		color: #333;
		font-variant: small-caps;
		line-height: 1em;
	}

	h5
	{
		font-family: $header;
		font-variant: small-caps;
		font-weight: bold;
		font-size: 1.75em;
		color: #fff;
		font-weight: 300;
	}
}

	