
.bg-color
{
	background-color: $dark;
}

.main-content-area
{
	/* COLOR */
	color: $orange + 200;

	/* LAYOUT */
	padding-top: 0em;
	padding-bottom: 1em;


	.main-tagline, .second-tagline
	{	
		padding: .5em 0;
		margin: 0 0 .5em 0;
		color: $orange + 200;
		font-weight: 800;
		font-size: 2em;
		line-height: 1.13em;
		-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
		-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
		box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
		text-shadow: 1px 1px #111, -1px -1px #444;
	}

	.main-tagline
	{
		background-color: $green;
		border-top: 1px solid $orange + 200;
		border-bottom: 1px solid $orange + 200;
	}

	.second-tagline
	{

		background-color: $green;
		border-top: 1px solid $orange + 200;
		border-bottom: 1px solid $orange + 200;
	}


	.menu-image
	{
		margin-bottom: .5em;
		width: 80%;
	}

	.content-section
	{
		/* COLOR */
		color: $orange + 200;

		/* TYPO */
		font-weight: 600;
		font-size: 1em;
		line-height: 1.1em;

		/* LAYOUT */
		margin-top: 5em;
		margin-bottom: 0em;

		strong
		{
			font-weight: 800;
			color: $orange + 50;
			font-style: italic;
		}
	}

	.section-title
	{
		font-size: 1.75em;
		font-weight: 900;
		color: $orange;
		line-height: 1.2em;
		text-shadow: 1px 1px #333, -1px -1px #222;

	}
	.copy
	{
		font-weight: 700;
		font-size: 1em;
		line-height: 1.3;
		color: $white;
	}

	.font-icons
	{
		font-size: 6em;
		font-weight: 800;
		padding: 0;
		margin: 0;
		line-height: 1em;

		.icon-small
		{
			font-size: .75em;
		}
	}

	.panel
	{
		p
		{
			font-family: $main;
			font-weight: 800;
			color: $green + 200;
			font-style: italic;
			font-size: 1.25em;
			line-height: 1.2em;

		}
	}
}

@media only screen and (min-width: 40.063em) {

	.main-content-area
	{
		.main-tagline
		{
			font-size: 2.75em;
		}

		.menu-image
		{
			margin-bottom: 3em;
		}

		.copy
		{
			font-size: 1.45em;
			font-weight: 700;
		}

		.panel
	{
		p
		{
			font-size: 1.45em;
			line-height: 1.2em;
		}
	}
	}
}